body {
  margin: 0;
  padding: 0;
}

.App {
}

.AppHeader {
  background-color: #222;
  padding: 10px;
  color: white;
  justify-content: center;
  display: flex;
}


.AppIcon {
  max-height: 150px;
  max-width: 400px;
}

.Content {
  padding-top: 16px;
  padding-bottom: 16px;
}
